* {
	padding: 0;
	margin: 0;
}
header {
	background: rgba(104,158,255,0.7);
}
body {
	text-align: center;
	background-image: url("../images/CommsAnatomyGrids.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(182,206,255);
	font-family: Helvetica;
	color: rgb(38,38,79);
	padding: 20px;
}
hr {
	width: 200px;
}
h1 {
	font-size: 32px;
	padding: 20px;
	padding-top: 200px;
	background: rgba(47,116,125,0.7);
}
h2,p {
	background: rgba(104,158,255,0.7);
}
h2 {
	font-size: 24px;
	padding: 20px;
	padding-top: 50px;
}
#slogan {
		font-style: italic;
	}
p {
	font-size: 18px;
	padding: 20px;
}
section {
	background-color: rgb(182,206,255);
}
footer {
	float: bottom;
}
