@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Krona+One|Raleway);
* {
	padding: 0;
	margin: 0;
}

header {
	background-color: #FF4F56;
	border: 1px black solid;
	text-align: right;
	height: 100px;
}

#logo {
	height: 100%;
	float: left;
}

#logo img {
	height: 100%;
}



.links {
	float: right;
	padding: 40px;
}

#map,
#map img {
	height: 100%;
}

#one {
	text-align: center;
	border: 1px black solid;
	background-image: url("../images/CommsAnatomyGrids.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFE2B8;
	font-family: Helvetica;
	color: rgb(38,38,79);
	padding: 1em;
	background-color: gray;
    background-blend-mode: luminosity;
}

menu {
	border: 1px black solid;
	padding: 1em;
	background-color: #FF99AD;
}

#two_column {
	background-color: #FF0000;
	border: 1px black solid;
	padding: 1em;

}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 1em;
	width: 60%;
	height: 200px;
	margin: 0 1em 1em;
	display: inline-block;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 1em;
	float: right;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer {
	background-color: #FF4F56;
	border: 1px black solid;
	padding: 1em;
}

h1 {
	font-family: 'Krona One', sans-serif;
	font-size: 3em;
	padding: 1em;
	padding-top: 2em;
}
h1,h2,p {
	color: rgb(127,0,0);
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	padding: 1em;
	padding-top: .5em;
}
#slogan {
		font-style: italic;
		padding: .5em;
	}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	padding: .5em;
}

@media only screen and (max-width: 900px) {
	#toplinks {
		font-size: .75em;
	}
	img {
		width: auto;
	}
	menu {
		font-size: .75em;
	}
	h1 {
		font-size: 1.5em
	}
	h2, h3 {
		font-size: 1em
	}
	p {
		font-size: .75em
	}
	#left {
		float: none;
		width: 60%;
		margin: 0 0 .5em;
		padding-bottom: .5em;
	}
	#right {
		float: none;
		width: auto;
		padding-top: .5em;
	}
}


