body {
	text-align: center;
	background: url("images/CommsAnatomyBrainProcessing.jpg");
	font-family: Helvetica
}
hr {
	width: 200px;
}
h1 {
	color: rgb(1,0,31);
	font-size: 32px;

}
#slogan {
		font-style: italic;
	}
p {
	background: rgb(104,158,255);
	font-size: 18px;
	}
}
ol{
	font-style: italic;
}
li {
	text-align: center;
}
