body {
	text-align: center;
	background: rgb(182,206,255);
	font-family: Helvetica
}
hr {
	width: 200px;
}
h1 {
	background-image: url("images/CommsAnatomyBrainProcessing.jpg");
	color: rgb(1,0,31);
	font-size: 32px;

}
h2 {
	background: rgba(104,158,255,0.7);
	font-size: 24px;
}
#slogan {
		font-style: italic;
	}
p {
	font-size: 18px;
	}
}
ul {
	text-align: center;
	list-style-type: none;
}